<div class="navbar-area" ngStickyNav stickyClass="sticky-box-shadow" ngStickyNav>
            <nav class="navbar navbar-expand-lg navbar-light bg-light" >
                <div class="container">
                    <div class="col-8">
                        <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.png" alt="logo"></a>
                    </div>
            </div>

        </nav>
</div>
    <div class="container">
        <div class="row">

    <div class="d-flex flex-row-reverse">

        <div class="dropdown p-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            看看
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="">你好</a>
                <a class="dropdown-item" href="hollywood">好莱坞山</a>
            </div>
        </div>
    </div>            
</div>            
</div>
