<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col"> 
            <h3><strong>好莱坞山</strong></h3>
        </div>
    </div>
</div>

        <div class="container">
    <div class="row">
      <div class="col">
        <p>我喜欢这张照片。 这是我和我妹妹。这张照片是三十年前在加利福尼亚照的。</p>
        <p>我那时候住在好莱坞。我妹妹和她的男朋友来看我。他们在我家住了三天。我们玩得很开心。</p>
        <p>在我家后面有一座山。一天我们去爬山。 在山顶， 可以看到有名的好莱坞标志。在那里， 她的男朋友给我们拍了这张照片。</p>
        <p>天气在加利福尼亚总是很热。 几乎从不下雨。</p><p>我们都很年轻，我的头发很长，因为我是学音乐搞艺术的。</p>
      </div>
      <div class="col">
            <img
                src="assets/img/hollywood_hills-768x553.jpg"
                class="img-fluid "
                alt="hollywood"/>
      </div>
    </div>
</div>




