<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col"> 
            <h3><strong>你好</strong></h3>
        </div>
    </div>
</div>

        <div class="container">
    <div class="row">
      <div class="col">
        <p>让我来自我介绍一下。
            我叫马维。我在美国出生。我一半是美国人，一半是法国人。我有两本护照。二十五岁的时候我从美国搬到了法国。我在美国住了二十五年，在法国住了二十二年。五年前我来到了香港,
            我现在还住在这里。</p>
        <p>我来香港以后，每星期在深圳工作三天，在香港工作两天。
            一年半后我离开了这个公司，我开办了自己的公司。我们做云计算和软件开发。我们在深圳有一个办事处，在香港有一个办事处。深圳的办公室做软件开发，香港的办公室做云计算。
        </p>
        <p>因为我们的公司出了一些问题，所以我现在在找别的工作。我希望能回到深圳去练习普通话。 </p>
      </div>
      <div class="col">
            <img
                src="assets/img/gnomes.jpg"
                class="img-fluid "
                alt="Gnomes"/>
      </div>
    </div>
</div>

  